@charset "UTF-8";
/*переменные*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
* {
  transition: all ease 0.5s;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 3rem;
  color: #000000;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.font-blue {
  color: #2d11c9;
}

/*HEADER-----------------------------------------------*/
.header {
  flex: 0 1 20rem;
  padding: 1.5rem 1.5rem 0;
  /* .header__items */
  /* .header__logo */
  /* .header__title */
  /* .header__items-dop */
  /* .header__item-dop */
}
.header__items {
  display: grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.header__logo img {
  width: 100%;
}
.header__title img {
  width: 90%;
}
.header__items-dop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.header__item-dop {
  font-size: 3rem;
  font-weight: 700;
  /* .header__item-dop_blue */
  /* .header__item-dop_red */
}
.header__item-dop_blue {
  color: #2d11c9;
}
.header__item-dop_red {
  color: #c7381f;
}

.phones {
  color: #2d11c9;
  font-weight: 700;
  line-height: 150%;
  /* .phones__text */
  /* .phones__number */
}
.phones__text {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.phones__number {
  font-size: 2.5rem;
}
.phones__number:not(:last-child) {
  margin-bottom: 1rem;
}

.menu-header {
  background-color: #2d11c9;
  padding: 0.5rem 0 1rem;
  /* .menu-header__list */
  /* .menu-header__link */
}
.menu-header__list {
  display: flex;
  justify-content: space-around;
}
.menu-header__link {
  font-size: 3.5rem;
  color: #ece740;
}
.menu-header__link:hover {
  border-bottom: 0.1rem solid #ece740;
}

.menu-header__link_act {
  color: #ffffff;
}

@media (max-width: 1350px) {
  .phones__text {
    font-size: 2rem;
  }
  .phones__number {
    font-size: 2.5rem;
  }
  .header__item-dop {
    font-size: 2.5rem;
  }
  .menu-header__link {
    font-size: 3rem;
  }
}
@media (max-width: 1090px) {
  .header__items {
    grid-template-columns: 25% auto;
  }
  .header__item:nth-child(3) {
    grid-row: 2;
    grid-column-start: span 2;
    margin-top: 2rem;
  }
  .phones {
    display: flex;
    justify-content: space-around;
  }
  .header__item-dop {
    font-size: 2.2rem;
  }
  .menu-header__link {
    font-size: 2.5rem;
  }
}
@media (max-width: 970px) {
  .header__items {
    margin-bottom: 1rem;
  }
  .header__items-dop {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .header__item-dop {
    font-size: 2.5rem;
    line-height: 120%;
  }
  .menu-header__link {
    font-size: 2.2rem;
  }
}
@media (max-width: 820px) {
  .header__items-dop {
    justify-content: flex-end;
    text-align: right;
  }
  .menu-header {
    background-color: inherit;
    position: relative;
  }
  .menu-header__list {
    display: none;
  }
  .menu-header__burger {
    display: block;
    position: absolute;
    left: 0;
    top: -5.5rem;
    width: 3rem;
    height: 2rem;
    z-index: 5;
  }
  .menu-header__burger span {
    position: absolute;
    background-color: #2d11c9;
    left: 0;
    top: 0.9rem;
    width: 100%;
    height: 0.2rem;
    transition: all 0.3s ease 0s;
  }
  .menu-header__burger::before,
  .menu-header__burger::after {
    content: "";
    background-color: #2d11c9;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu-header__burger::before {
    top: 0;
  }
  .menu-header__burger::after {
    bottom: 0;
  }
  .menu-header__burger.active {
    top: 0;
    left: 0.5rem;
  }
  .menu-header__burger.active span {
    transform: scale(0);
  }
  .menu-header__burger.active::before {
    background-color: #ece740;
    transform: rotate(45deg);
    top: 0.9rem;
  }
  .menu-header__burger.active::after {
    background-color: #ece740;
    transform: rotate(-45deg);
    bottom: 0.9rem;
  }
  .menu-header__list.active {
    display: block;
    padding: 3rem 0 2rem 0;
    text-align: center;
    overflow: auto;
    position: absolute;
    top: -1.8rem;
    left: calc(-1% - 3rem);
    background-color: #2d11c9;
    width: 100vw;
    height: 100vh;
  }
  .menu-header__list.active li {
    margin: 0;
  }
  .menu-header__list.active li:not(:last-child) {
    margin-bottom: 3.5rem;
  }
  .menu-header__list.active li a {
    color: #ece740;
    font-size: 3.5rem;
  }
  .menu-header__list.active li:first-child {
    margin: 5rem 0 2.5rem;
  }
  .phones__number {
    font-size: 2rem;
  }
}
@media (max-width: 690px) {
  .phones {
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }
  .phones__text {
    flex: 0 1 100%;
  }
  .header__item-dop {
    font-size: 2.2rem;
  }
}
@media (max-width: 570px) {
  .header__item:nth-child(3) {
    margin-top: 0;
  }
  .phones__text {
    margin-bottom: 0;
  }
  .header__items {
    margin-bottom: 0;
  }
  .header__item-dop {
    font-size: 1.8rem;
  }
  .phones__text {
    font-size: 1.8rem;
  }
  .phones__number {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .menu-header__burger {
    top: 0;
  }
  .header__items-dop {
    justify-content: center;
    text-align: center;
  }
  .header__item-dop {
    font-size: 2rem;
  }
}
@media (max-width: 410px) {
  .header__items {
    grid-template-columns: 49% 50%;
    column-gap: 1%;
  }
  .header__item:first-child {
    margin-right: 1.5rem;
  }
  .header__item:nth-child(3) {
    grid-row-start: 1;
    grid-column: 2/span2;
  }
  .header__item:nth-child(2) {
    grid-row-start: 2;
    grid-column: 1/span2;
  }
  .header__title img {
    width: 100%;
  }
  .phones {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .phones__text {
    font-size: 1.4rem;
    line-height: 120%;
  }
  .phones__number {
    font-size: 1.4rem;
    line-height: normal;
  }
  .phones__number:not(:last-child) {
    margin: 0;
  }
  .header__item-dop {
    font-size: 1.8rem;
  }
}
/*MAIN--------------------------------------------------------*/
.main {
  flex: 1 1 auto;
  padding: 4rem 1rem;
  /* .main__items */
}
.main__items {
  display: grid;
  grid-template-columns: 29% 69%;
  column-gap: 2%;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  /* .info__doctor */
  /* .info__uslugi */
}
.info__doctor {
  margin-bottom: 5rem;
}
.info__uslugi {
  margin-bottom: 5rem;
}

.doctor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* .doctor-info__img */
  /* .doctor-info__fio */
  /* .doctor-info__title */
  /* .doctor-info__subtitle */
}
.doctor-info__img {
  width: 30rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.doctor-info__img img {
  width: 100%;
}
.doctor-info__fio {
  font-size: 4rem;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 3rem;
}
.doctor-info__title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
}
.doctor-info__subtitle {
  font-size: 3rem;
  line-height: 120%;
}

.uslugi-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* .uslugi-info__title */
  /* .uslugi-info__list */
  /* .uslugi-info__link */
}
.uslugi-info__title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.uslugi-info__list li {
  list-style-type: disc;
  margin-left: 2.5rem;
}
.uslugi-info__list li:not(last-child) {
  margin-bottom: 2rem;
}
.uslugi-info__link {
  font-size: 3rem;
  color: #2d11c9;
}
.uslugi-info__link:hover {
  border-bottom: 0.1rem solid #2d11c9;
}

.fotos-info {
  display: flex;
  flex-direction: column;
  /* .fotos-info__entrance */
  /* .fotos-info__kabinet */
}
.fotos-info__entrance {
  margin-bottom: 1rem;
}
.fotos-info__entrance img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fotos-info__kabinet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-main {
  font-size: 3rem;
  line-height: 120%;
}
.text-main p {
  margin-bottom: 1.5rem;
}
.text-main ul {
  margin-bottom: 1.5rem;
}
.text-main ul li {
  list-style-type: disc;
  margin-left: 3rem;
}
.text-main ul li:not(last-child) {
  margin-bottom: 1.5rem;
}

@media (max-width: 1520px) {
  .text-main {
    font-size: 2.5rem;
  }
}
@media (max-width: 1190px) {
  .text-main p {
    margin-bottom: 1rem;
  }
  .text-main ul li:not(last-child) {
    margin-bottom: 1rem;
  }
  .doctor-info__img {
    width: 25rem;
  }
  .doctor-info__title {
    font-size: 3.2rem;
  }
  .doctor-info__subtitle {
    font-size: 3rem;
  }
}
@media (max-width: 1040px) {
  .main__items {
    grid-template-columns: 100%;
    row-gap: 3rem;
  }
  .info {
    padding-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .info__doctor {
    flex: 0 1 60%;
  }
  .uslugi-info {
    flex: 0 1 40%;
  }
  .uslugi-info__title {
    margin-bottom: 3rem;
  }
  .uslugi-info__list li:not(last-child) {
    margin-bottom: 3rem;
  }
  .fotos-info__entrance {
    text-align: center;
  }
  .fotos-info__entrance img {
    width: 90%;
  }
  .fotos-info__kabinet {
    display: none;
  }
}
@media (max-width: 768px) {
  .doctor-info__fio {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .doctor-info__title {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
  .doctor-info__subtitle {
    font-size: 2.4rem;
  }
  .uslugi-info__link {
    font-size: 2.6rem;
  }
}
@media (max-width: 690px) {
  .info {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media (max-width: 480px) {
  .doctor-info__img {
    width: 20rem;
  }
  .text-main {
    font-size: 2.2rem;
  }
}
/*FOOTER-------------------------------------------------------*/
.footer {
  flex: 0 1 20rem;
  font-size: 2.5rem;
  /* .footer__title */
  /* .footer__items */
  /* .footer__item */
}
.footer .container {
  border-top: 0.4rem groove #2d11c9;
  padding: 3rem 1.5rem;
}
.footer__title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  font-style: italic;
  color: #c7381f;
  margin-bottom: 3rem;
}
.footer__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}
.footer__item {
  color: #2d11c9;
  text-align: center;
}

.adres-footer {
  /* .adres-footer__text */
  /* .adres-footer__adres */
}
.adres-footer__text {
  margin-bottom: 1rem;
}
.adres-footer__adres {
  margin-bottom: 1rem;
  font-weight: 700;
}

.phones-footer {
  /* .phones-footer__text */
  /* .phones-footer__phone */
}
.phones-footer__text {
  margin-bottom: 1rem;
}
.phones-footer__phone:not(:last-child) {
  margin-bottom: 1rem;
}

.link-footer {
  /* .link-footer__text */
  /* .link-footer__button */
}
.link-footer__text {
  margin-bottom: 1rem;
}
.link-footer__button img:hover {
  transform: translateY(0.5rem);
}

@media (max-width: 1310px) {
  .footer {
    font-size: 2rem;
  }
  .footer__title {
    font-size: 3rem;
  }
}
@media (max-width: 990px) {
  .footer__items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
  .footer__item:last-child {
    grid-column: 1/3;
  }
}
@media (max-width: 720px) {
  .footer__title {
    font-size: 2.5rem;
  }
  .footer__items {
    grid-template-columns: 1fr;
  }
  .footer__item:last-child {
    grid-column: 1/2;
  }
}
@media (max-width: 363px) {
  .footer {
    font-size: 1.8rem;
  }
  .footer__title {
    font-size: 2.2rem;
  }
  .link-footer__button {
    display: block;
    max-width: 15rem;
    margin: 0 auto;
  }
  .link-footer__button img {
    width: 100%;
  }
}
/*PAGES====================================================================*/
/*Massaz*/
.bol {
  clear: both;
  padding-top: 2rem;
  margin-bottom: 3rem;
  /* .bol__title */
  /* .bol__img */
  /* .bol__text */
}
.bol__title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 4rem;
}
.bol__img {
  width: 60rem;
  float: left;
  margin-right: 3rem;
}
.bol__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bol__text p {
  margin-bottom: 1.5rem;
}
.bol__text ol {
  margin-bottom: 1.5rem;
}
.bol__text ol li:not(last-child) {
  list-style-position: inside;
  margin-bottom: 1.5rem;
}
.bol__text ul {
  margin-bottom: 15px;
}
.bol__text ul li {
  list-style-type: disc;
  list-style-position: inside;
}
.bol__text ul li:not(last-child) {
  margin-bottom: 1.5rem;
}

@media (max-width: 1370px) {
  .bol__img {
    width: 45rem;
  }
}
@media (max-width: 1030px) {
  .bol__img {
    width: 35rem;
  }
}
@media (max-width: 768px) {
  .bol__img {
    width: 100%;
    float: none;
    margin-bottom: 3rem;
  }
}
@media (max-width: 612px) {
  .bol__title {
    font-size: 3.5rem;
  }
  .bol__text {
    font-size: 2.5rem;
  }
}
@media (max-width: 402px) {
  .bol__title {
    font-size: 3rem;
  }
  .bol__text {
    font-size: 2rem;
  }
}
/*DOCTOR*/
.doctors__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 3rem;
}
.doctors__items {
  display: grid;
  grid-template-columns: 39% 59%;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  column-gap: 2%;
  row-gap: 3rem;
}

.info-doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info-doctors__img {
  width: 20rem;
  margin-bottom: 2rem;
}
.info-doctors__img img {
  width: 100%;
}
.info-doctors__fio {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
  color: #2d11c9;
  margin-bottom: 2rem;
}
.info-doctors__title {
  font-weight: 700;
  margin-bottom: 2rem;
}
.info-doctors__subtitle {
  width: 80%;
}

.kvalific-doctors__title {
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 1.5rem;
}
.kvalific-doctors__text {
  line-height: 120%;
}

.p-tab {
  margin-left: 2rem;
}

@media (max-width: 1140px) {
  .doctors__items {
    grid-template-columns: 30% 68%;
    column-gap: 2%;
  }
  .info-doctors__fio {
    font-size: 3rem;
  }
  .info-doctors__title,
  .info-doctors__subtitle {
    font-size: 2.2rem;
  }
  .kvalific-doctors__text {
    font-size: 2.2rem;
  }
}
@media (max-width: 860px) {
  .info-doctors__fio {
    font-size: 2.5rem;
  }
  .kvalific-doctors__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .doctors__items {
    grid-template-columns: 1fr;
  }
  .kvalific-doctors__title {
    text-align: center;
  }
}
@media (max-width: 530px) {
  .doctors__title {
    font-size: 4rem;
  }
  .info-doctors__img {
    width: 15rem;
  }
  .p-tab {
    margin-left: 0;
  }
}
@media (max-width: 395px) {
  .doctors__title {
    font-size: 3.5rem;
  }
  .kvalific-doctors__title {
    font-size: 2.2rem;
  }
}
/*PRICE*/
.price__skidki {
  margin-bottom: 5rem;
}
.price__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 3rem;
}
.price__items {
  display: grid;
  grid-template-columns: 40% 59%;
  align-items: center;
  column-gap: 1%;
  margin-bottom: 3rem;
}

.price-img {
  text-align: center;
}
.price-img img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.item-text {
  font-size: 2.5rem;
  line-height: 120%;
}
.item-text p:not(:last-child) {
  margin-bottom: 1.5rem;
}
.item-text ul {
  padding-bottom: 1.5rem;
}
.item-text ul li {
  list-style-type: disc;
  margin-left: 2.5rem;
}

.price-table__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 3rem;
}

.table-price {
  width: 100%;
  border: 0.2rem solid #2d11c9;
  border-collapse: collapse;
  text-align: center;
  font-size: 2.5rem;
}
.table-price th,
.table-price td {
  border: 0.1rem solid #2d11c9;
  padding: 1rem 0;
}
.table-price__title {
  background-color: #ece740;
}
.table-price__subtitle {
  font-size: 2.2rem;
  background-color: #ece740;
}

.titledop {
  display: none;
}

@media (max-width: 1320px) {
  .item-text {
    font-size: 2.2rem;
  }
  .price-table__title {
    font-size: 3.5rem;
  }
}
@media (max-width: 1040px) {
  .price__title {
    font-size: 3.5rem;
  }
  .price__items {
    grid-template-columns: 30% 69%;
  }
  .item-text,
  .table-price {
    font-size: 2rem;
  }
  .th,
  .td {
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 860px) {
  .price__title,
  .price-table__title {
    font-size: 3rem;
  }
  .price__items {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #2d11c9;
  }
}
@media (max-width: 560px) {
  .price-table__title {
    font-size: 2.5rem;
  }
  .table-price__subtitle {
    font-size: 2rem;
  }
  .table-price {
    font-size: 1.8rem;
  }
}
@media (max-width: 380px) {
  .price__title {
    font-size: 2.2rem;
  }
  .table-price,
  .table-price__subtitle {
    font-size: 1.6rem;
  }
}
/*OTZIVI*/
.otzivi__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 3rem;
}

.otziv {
  border-bottom: 0.1rem solid #000000;
  padding: 1.5rem 0;
}
.otziv__fio {
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.otziv__diagnoz {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1.5rem;
}
.otziv__text {
  display: none;
}
.otziv__button {
  display: inline-block;
  color: #2d11c9;
}
.otziv__button:hover {
  border-bottom: 0.1rem solid #2d11c9;
}

.open {
  display: block;
  margin-bottom: 1.5rem;
}

@media (max-width: 1120px) {
  .otzivi__title {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .otzivi__title {
    font-size: 3rem;
  }
  .otziv {
    font-size: 2.2rem;
  }
}
@media (max-width: 380px) {
  .otzivi__title {
    font-size: 2.8rem;
  }
}
/*KONTAKTI*/
.kontakti__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 3rem;
}
.kontakti__message {
  font-size: 3.5rem;
  font-weight: 700;
  color: #2d11c9;
  margin-bottom: 4rem;
}
.kontakti__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5rem;
  column-gap: 2rem;
}
.kontakti__item {
  line-height: 120%;
}

.map__text {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

@media (max-width: 1420px) {
  .kontakti__title {
    font-size: 4rem;
  }
}
@media (max-width: 950px) {
  .kontakti__message {
    font-size: 3rem;
  }
  .kontakti__item {
    font-size: 2.5rem;
  }
}
@media (max-width: 810px) {
  .kontakti__title {
    font-size: 3.5rem;
  }
  .kontakti__message {
    font-size: 2.5rem;
  }
  .kontakti__items {
    grid-template-columns: 1fr;
  }
  .kontakti-phones {
    margin-bottom: 4rem;
  }
}
@media (max-width: 671px) {
  .kontakti__message {
    text-align: center;
  }
  .kontakti__item {
    font-size: 2.2rem;
  }
  .map__text {
    font-size: 2.5rem;
  }
}
@media (max-width: 440px) {
  .kontakti__title {
    font-size: 3rem;
  }
}
/*DOP MENU---------------------------------------*/
.kroshki a {
  font-weight: 700;
  color: #2d11c9;
}
.kroshki a:hover {
  border-bottom: 0.1rem solid #2d11c9;
}

.bol__img_r {
  float: right;
  margin-right: 0;
}

@media (max-width: 1040px) {
  .kroshki {
    font-size: 2.5rem;
  }
}
@media (max-width: 670px) {
  .kroshki {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .kroshki {
    font-size: 1.6rem;
  }
}