@use "./variables" as *;

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
* {
  transition: all ease 0.5s;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 3rem;
  color: $fontColorDark;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.font-blue {
  color: $fontColorBlue;
}

/*HEADER-----------------------------------------------*/

.header {
  flex: 0 1 20rem;
  padding: 1.5rem 1.5rem 0;
  /* .header__items */

  &__items {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  /* .header__logo */

  &__logo {
    img {
      width: 100%;
    }
  }

  /* .header__title */

  &__title {
    img {
      width: 90%;
    }
  }

  /* .header__items-dop */

  &__items-dop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  /* .header__item-dop */

  &__item-dop {
    font-size: 3rem;
    font-weight: 700;

    /* .header__item-dop_blue */

    &_blue {
      color: $fontColorBlue;
    }

    /* .header__item-dop_red */

    &_red {
      color: $fontColorRed;
    }
  }
}

.phones {
  color: $fontColorBlue;
  font-weight: 700;
  line-height: 150%;
  /* .phones__text */

  &__text {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  /* .phones__number */

  &__number {
    font-size: 2.5rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
.menu-header {
  background-color:$fontColorBlue;
  padding: 0.5rem 0 1rem;

  /* .menu-header__list */

  &__list {
    display: flex;
    justify-content: space-around;
  }

  /* .menu-header__link */

  &__link {
    font-size: 3.5rem;
    color: $fontColorYellow;
    &:hover {
      border-bottom: 0.1rem solid $fontColorYellow;
    }
  }
}
.menu-header__link_act {
  color: $fontColorWhite;
}

@media (max-width: 1350px) {
  .phones__text {
    font-size: 2rem;
  }
  .phones__number {
    font-size: 2.5rem;
  }
  .header__item-dop {
    font-size: 2.5rem;
  }
  .menu-header__link {
    font-size: 3rem;
  }
}

@media (max-width: 1090px) {
  .header__items {
    grid-template-columns: 25% auto;
  }
  .header__item:nth-child(3) {
    grid-row: 2;
    grid-column-start: span 2;
    margin-top: 2rem;
  }
  .phones {
    display: flex;
    justify-content: space-around;
  }
  .header__item-dop {
    font-size: 2.2rem;
  }
  .menu-header__link {
    font-size: 2.5rem;
  }
}

@media (max-width: 970px) {
  .header__items {
    margin-bottom: 1rem
  }
  .header__items-dop {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .header__item-dop {
    font-size: 2.5rem;
    line-height: 120%;
  }
  .menu-header__link {
    font-size: 2.2rem;
  }
}

@media (max-width: 820px) {
  .header__items-dop {
    justify-content: flex-end;
    text-align: right;
  }
  .menu-header {
    background-color: inherit;
    position: relative;
  }
  .menu-header__list {
    display: none;
  }

  .menu-header__burger {
    display: block;
    position: absolute;
    left: 0;
    top: -5.5rem;
    width: 3rem;
    height: 2rem;
    z-index: 5;
  }
  .menu-header__burger span {
    position: absolute;
    background-color: $fontColorBlue;
    left: 0;
    top: 0.9rem;
    width: 100%;
    height: 0.2rem;
    transition: all 0.3s ease 0s;
  }
  .menu-header__burger::before,
  .menu-header__burger::after {
    content: "";
    background-color: $fontColorBlue;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu-header__burger::before {
    top: 0;
  }
  .menu-header__burger::after {
    bottom: 0;
  }
  .menu-header__burger.active {
    top: 0;
    left: 0.5rem;
  }
  .menu-header__burger.active span {
    transform: scale(0);
  }
  .menu-header__burger.active::before {
    background-color: $fontColorYellow;
    transform: rotate(45deg);
    top: 0.9rem;
  }
  .menu-header__burger.active::after {
    background-color: $fontColorYellow;
    transform: rotate(-45deg);
    bottom: 0.9rem;
  }
  .menu-header__list.active {
     display: block;
    padding: 3rem 0 2rem 0;
    text-align: center;
    overflow: auto;
    position: absolute;
    top: -1.8rem;
    left: calc(-1% - 3rem);
    background-color: $fontColorBlue;
    width: 100vw;
    height: 100vh;
    li {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 3.5rem;
      }
      a {
        color: $fontColorYellow;
        font-size: 3.5rem;
      }
    }
    li:first-child {
      margin: 5rem 0 2.5rem;
    }
  }
  .phones__number {
    font-size: 2rem;
  }
}

@media (max-width: 690px) {
  .phones {
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }
  .phones__text {
    flex: 0 1 100%;
  }
  .header__item-dop {
    font-size: 2.2rem;
  }
}

@media (max-width: 570px) {
  .header__item:nth-child(3) {
    margin-top: 0;
  }
  .phones__text {
    margin-bottom: 0;
  }
  .header__items {
    margin-bottom: 0;
  }
  .header__item-dop {
    font-size: 1.8rem;
  }
  .phones__text {
    font-size: 1.8rem;
  }
  .phones__number {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .menu-header__burger {
    top: 0;
  }
  .header__items-dop {
    justify-content: center;
    text-align: center;
  }
  .header__item-dop {
    font-size: 2rem;
  }
}

@media (max-width: 410px) {
  .header__items {
    grid-template-columns: 49% 50%;
    column-gap: 1%;
  }
  .header__item:first-child {
    margin-right: 1.5rem;
  }
  .header__item:nth-child(3) {
    grid-row-start: 1;
    grid-column: 2 / span2;
  }
  .header__item:nth-child(2) {
    grid-row-start: 2;
    grid-column: 1 / span2;
  }
  .header__title {
    img {
      width: 100%;
    }
  }
  .phones {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .phones__text {
    font-size: 1.4rem;
    line-height: 120%;
  }
  .phones__number {
    font-size: 1.4rem;
    line-height: normal;
    &:not(:last-child) {
      margin: 0;
    }
  }
  .header__item-dop {
    font-size: 1.8rem;
  }
}

/*MAIN--------------------------------------------------------*/

.main {
  flex: 1 1 auto;
  padding: 4rem 1rem;

  /* .main__items */

  &__items {
    display: grid;
    grid-template-columns: 29% 69%;
    column-gap: 2%;
  }
}
.info {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;

  /* .info__doctor */

  &__doctor {
    margin-bottom: 5rem;
  }

  /* .info__uslugi */

  &__uslugi {
    margin-bottom: 5rem;
  }
}

.doctor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  /* .doctor-info__img */

  &__img {
    width: 30rem;
    margin: 0 auto;
    img {
      width: 100%;
    }
    margin-bottom: 3rem;
  }

  /* .doctor-info__fio */

  &__fio {
    font-size: 4rem;
    line-height: 150%;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  /* .doctor-info__title */

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 5rem;
  }

  /* .doctor-info__subtitle */

  &__subtitle {
    font-size: 3rem;
    line-height: 120%;
  }
}
.uslugi-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* .uslugi-info__title */

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  /* .uslugi-info__list */

  &__list {
    li {
      list-style-type: disc;
      margin-left: 2.5rem;
    }
    li:not(last-child) {
      margin-bottom: 2rem;
    }
  }

  /* .uslugi-info__link */

  &__link {
    font-size: 3rem;
    color: $fontColorBlue;
    &:hover {
      border-bottom: 0.1rem solid $fontColorBlue;
    }
  }
}
.fotos-info {
  display: flex;
  flex-direction: column;

  /* .fotos-info__entrance */

  &__entrance {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    margin-bottom: 1rem;
  }

  /* .fotos-info__kabinet */

  &__kabinet {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.text-main {
  font-size: 3rem;
  line-height: 120%;
  p {
    margin-bottom: 1.5rem;
  }
  ul {
    margin-bottom: 1.5rem;
    li {
      list-style-type: disc;
      margin-left: 3rem;
    }
    li:not(last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 1520px) {
  .text-main {
    font-size: 2.5rem;
  }
}

@media (max-width: 1190px) {
  .text-main {
    p {
      margin-bottom: 1rem;
    }
    ul {
      li:not(last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  .doctor-info__img {
    width: 25rem;
  }
  .doctor-info__title {
    font-size: 3.2rem;
  }
  .doctor-info__subtitle {
    font-size: 3rem;
  }
}

@media (max-width: 1040px) {
  .main__items {
    grid-template-columns: 100%;
    row-gap: 3rem;
  }
  .info {
    padding-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .info__doctor {
    flex: 0 1 60%;
  }
  .uslugi-info {
    flex: 0 1 40%;
  }
  .uslugi-info__title {
    margin-bottom: 3rem;
  }
  .uslugi-info__list {
    li:not(last-child) {
      margin-bottom: 3rem;
    }
  }
  .fotos-info__entrance {
    text-align: center;
    img {
      width: 90%;
    }
  }
  .fotos-info__kabinet {
    display: none;
  }
}

@media (max-width: 768px) {
  .doctor-info__fio {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .doctor-info__title {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
  .doctor-info__subtitle {
    font-size: 2.4rem;
  }
  .uslugi-info__link {
    font-size: 2.6rem;
  }
}

@media (max-width: 690px) {
  .info {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 480px) {
  .doctor-info__img {
    width: 20rem;
  }
  .text-main {
    font-size: 2.2rem;
  }
}

/*FOOTER-------------------------------------------------------*/

.footer {
  flex: 0 1 20rem;
  font-size: 2.5rem;

  /* .footer__title */

  .container {
    border-top: 0.4rem groove $fontColorBlue;
    padding: 3.0rem 1.5rem;
  }

  &__title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    font-style: italic;
    color: $fontColorRed;
    margin-bottom: 3rem;
  }

  /* .footer__items */

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }

  /* .footer__item */

  &__item {
    color: $fontColorBlue;
    text-align: center;
  }
}

.adres-footer {
  /* .adres-footer__text */

  &__text {
    margin-bottom: 1rem;
  }

  /* .adres-footer__adres */

  &__adres {
    margin-bottom: 1rem;
    font-weight: 700;
  }
}

.phones-footer {
  /* .phones-footer__text */

  &__text {
    margin-bottom: 1rem;
  }

  /* .phones-footer__phone */

  &__phone {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
.link-footer {
  /* .link-footer__text */

  &__text {
    margin-bottom: 1rem;
  }

  /* .link-footer__button */

  &__button {
    img:hover {
      transform: translateY(0.5rem);
    }
  }
}

@media (max-width: 1310px) {
  .footer {
    font-size: 2rem;
  }
  .footer__title {
    font-size: 3rem;
  }
}

@media (max-width: 990px) {
  .footer__items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .footer__item:last-child {
    grid-column: 1 / 3;
  }
}

@media (max-width: 720px) {
  .footer__title {
    font-size: 2.5rem;
  }
  .footer__items {
    grid-template-columns: 1fr;
  }
  .footer__item:last-child {
    grid-column: 1 / 2;
  }
}

@media (max-width: 363px) {
  .footer {
    font-size: 1.8rem;
  }
  .footer__title {
    font-size: 2.2rem;
  }
  .link-footer__button {
    display: block;
    max-width: 15rem;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

/*PAGES====================================================================*/

/*Massaz*/

.bol {
 clear: both;
 padding-top: 2rem;
 margin-bottom: 3rem;
  /* .bol__title */

  &__title {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    color: $fontColorBlue;
    margin-bottom: 4rem;
  }

  /* .bol__img */

  &__img {
	width: 60rem;
	float: left;
	margin-right: 3rem;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
  }

  /* .bol__text */

  &__text {
    p {
      margin-bottom: 1.5rem;
    }
    ol {
      margin-bottom: 1.5rem;
       li:not(last-child) {
		list-style-position: inside;	
        margin-bottom: 1.5rem;
      }
    }
	 ul {
		margin-bottom: 15px;
		li {
			list-style-type: disc;
			list-style-position: inside;
		}
		li:not(last-child) {
			margin-bottom: 1.5rem;
		}
	 }
  }
}

@media (max-width: 1370px) {
	.bol__img {
		width: 45rem;
	}
}

@media (max-width: 1030px) {
	.bol__img {
		width: 35rem;
	}
}

@media (max-width: 768px) {
		.bol__img {
				width: 100%;
				float: none;
				margin-bottom: 3rem;
			}
}

@media (max-width: 612px) {
	.bol__title {
		font-size: 3.5rem;
	}
	.bol__text {
		font-size: 2.5rem;
	}
}

@media (max-width: 402px) {
	.bol__title {
		font-size: 3rem;
	}
	.bol__text {
		font-size: 2rem;
	}
}

/*DOCTOR*/

.doctors {

	// .doctors__title

	&__title {
		text-align: center;
		font-size: 5rem;
		font-weight: 700;
		color: $fontColorBlue;
		margin-bottom: 3rem;
	}

	// .doctors__items

	&__items {
		display: grid;
		grid-template-columns: 39% 59%;
		grid-template-rows: repeat(4, auto);
		align-items: center;
		column-gap: 2%;
		row-gap: 3rem;
	}
}

.info-doctors {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	// .info-doctors__img

	&__img {
		width: 20rem;
		margin-bottom: 2rem;
		img {
			width: 100%;
		}
	}

	// .info-doctors__fio

	&__fio {
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 120%;
		color: $fontColorBlue;
		margin-bottom: 2rem;
	}

	// .info-doctors__title

	&__title {
		font-weight: 700;
		margin-bottom: 2rem;
	}

	// .info-doctors__subtitle

	&__subtitle {
		width: 80%;
	}
}

.kvalific-doctors {

	// .kvalific-doctors__title

	&__title {
		font-weight: 700;
		color: $fontColorBlue;
		margin-bottom: 1.5rem;
	}

	// .kvalific-doctors__text

	&__text {
		line-height: 120%;
	}
}

.p-tab {
	margin-left: 2rem;
}

@media (max-width: 1140px) {
	.doctors__items {
		grid-template-columns: 30% 68%;
		column-gap: 2%;
	}
	.info-doctors__fio {
		font-size: 3rem;
	}
	.info-doctors__title,
	.info-doctors__subtitle {
		font-size: 2.2rem;
	}
	.kvalific-doctors__text {
		font-size: 2.2rem;
	}
}

@media (max-width: 860px) {
	.info-doctors__fio {
		font-size: 2.5rem;
	}
	.kvalific-doctors__title {
		font-size: 2.5rem;
	}
}

@media (max-width: 768px) {
	.doctors__items {
		grid-template-columns: 1fr;
	}
	.kvalific-doctors__title {
		text-align: center;
	}
}

@media (max-width: 530px) {
	.doctors__title {
		font-size: 4rem;
	}
	.info-doctors__img {
		width: 15rem;
	}
	.p-tab {
		margin-left: 0;
	}
}

@media (max-width: 395px) {
	.doctors__title {
			font-size: 3.5rem;
		}
		.kvalific-doctors__title {
			font-size: 2.2rem;
		}
}

/*PRICE*/

.price {

	// .price__skidki

	&__skidki {
		margin-bottom: 5rem;
	}

	// .price__title

	&__title {
		text-align: center;
		font-size: 5rem;
		font-weight: 700;
		color: $fontColorBlue;
		margin-bottom: 3rem;
	}

	// .price__items

	&__items {
		display: grid;
		grid-template-columns: 40% 59%;
		align-items: center;
		column-gap: 1%;
		margin-bottom: 3rem;
	}
}

.price-img {
	text-align: center;
	
	img {
		width: 80%;
		height: 100%;
		object-fit: cover;
	}
}

.item-text {
	font-size: 2.5rem;
	line-height: 120%;
	p:not(:last-child) {
		margin-bottom: 1.5rem;
	}
	ul {
		padding-bottom: 1.5rem;
		li {
			list-style-type: disc;
			margin-left: 2.5rem;
		}
	}
}

.price-table {

	// .price-table__title

	&__title {
		text-align: center;
		font-size: 5rem;
		font-weight: 700;
		color: $fontColorBlue;
		margin-bottom: 3rem;
	}
}

.table-price {
	width: 100%;
	border: 0.2rem solid $fontColorBlue;
	border-collapse: collapse;
	text-align: center;
	font-size: 2.5rem;
	th,
	td {
		border: 0.1rem solid $fontColorBlue;
		padding: 1rem 0;
	}
	// .table-price__title

	&__title {
		background-color: $fontColorYellow
	}
	// .table-price__subtitle

	&__subtitle {
		font-size: 2.2rem;
		background-color: $fontColorYellow
	}
}
.titledop {
	display: none;
}

@media (max-width: 1320px) {
	.item-text {
		font-size: 2.2rem;
	}
	.price-table__title {
		font-size: 3.5rem;
	}
}

@media (max-width: 1040px) {
	.price__title {
		font-size: 3.5rem;
	}
	.price__items {
		grid-template-columns: 30% 69%;
	}
	.item-text,
	.table-price {
		font-size: 2rem;
	}
	.th,
	.td {
		padding: 1rem 0.5rem;
	}
}

@media (max-width: 860px) {
	.price__title,
	.price-table__title {
		font-size: 3rem;
	}
	.price__items {
		grid-template-columns: 1fr;
		row-gap: 2rem;	
		padding-bottom: 1.5rem;
		border-bottom: 0.1rem solid $fontColorBlue;
	}
}

@media (max-width: 560px) {
	.price-table__title {
		font-size: 2.5rem;
	}
	.table-price__subtitle {
		font-size: 2rem;
	}
	.table-price {
		font-size: 1.8rem;
	}
}

@media (max-width: 380px) {
	.price__title {
		font-size: 2.2rem;
	}
	.table-price,
	.table-price__subtitle {
		font-size: 1.6rem;
	}
}

/*OTZIVI*/

.otzivi {

	// .otzivi__title

	&__title {
		text-align: center;
		font-size: 5rem;
		font-weight: 700;
		color: $fontColorBlue;
		margin-bottom: 3rem;
	}
}

.otziv {
	border-bottom: 0.1rem solid $fontColorDark;
	padding: 1.5rem 0;
	// .otziv__fio

	&__fio {
		font-weight: 700;
		margin-bottom: 1.5rem;
	}

	// .otziv__diagnoz

	&__diagnoz {
		font-weight: 700;
		font-style: italic;
		margin-bottom: 1.5rem;
	}

	// .otziv__text

	&__text {
		display: none;
	}

	// .otziv__button

	&__button {
		display: inline-block;
    color: $fontColorBlue;
		&:hover {
			border-bottom: 0.1rem solid $fontColorBlue;
		}
	}
}

.open {
	display: block;
	margin-bottom: 1.5rem;
}

@media (max-width: 1120px) {
	.otzivi__title {
		font-size: 4rem;
	}
}

@media (max-width: 768px) {
	.otzivi__title {
		font-size: 3rem;
	}
	.otziv {
		font-size: 2.2rem;
	}
}

@media (max-width: 380px) {
	.otzivi__title {
		font-size: 2.8rem;
	}

}

/*KONTAKTI*/

.kontakti {
	
	// .kontakti__title

	&__title {
		text-align: center;
		font-size: 5rem;
		font-weight: 700;
		color: $fontColorBlue;
		margin-bottom: 3rem;
	}

	// .kontakti__message

	&__message {
		font-size: 3.5rem;
		font-weight: 700;
		color: $fontColorBlue;
		margin-bottom: 4rem;
	}

	// .kontakti__items

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 5rem;
		column-gap: 2rem;
	}

	// .kontakti__item

	&__item {
		line-height: 120%;
	}
}

.map {

	// .map__text

	&__text {
		font-size: 3.5rem;
		font-weight: 700;
		margin-bottom: 3rem;
	}
}

@media (max-width: 1420px) {
	.kontakti__title {
		font-size: 4rem;
	}
}

@media (max-width: 950px) {
	.kontakti__message {
		font-size: 3rem;
	}
	.kontakti__item {
		font-size: 2.5rem;
	}
}

@media (max-width: 810px) {
	.kontakti__title {
		font-size: 3.5rem;
	}
	.kontakti__message {
		font-size: 2.5rem;
	}
	.kontakti__items {
		grid-template-columns: 1fr;
	}
	.kontakti-phones {
		margin-bottom: 4rem;
	}
}

@media (max-width: 671px) {
	.kontakti__message {
		text-align: center;
	}
	.kontakti__item {
		font-size: 2.2rem;
	}
	.map__text {
		font-size: 2.5rem;
	}
}

@media (max-width: 440px) {
	.kontakti__title {
		font-size: 3rem;
	}
}

/*DOP MENU---------------------------------------*/

.kroshki {
	a {
		font-weight: 700;
		color: $fontColorBlue;
		&:hover {
			border-bottom: 0.1rem solid $fontColorBlue;
		}
	}
}

.bol__img_r {
	float: right;
	margin-right: 0;
}

@media (max-width: 1040px) {
	.kroshki {
		font-size: 2.5rem;
	}
}

@media (max-width: 670px) {
	.kroshki {
			font-size: 2rem;
		}
}

@media (max-width: 320px) {
	.kroshki {
			font-size: 1.6rem;
		}
}